.color-nav {
  color:  #F5F5F5 !important;
 background-color: #233237;
}


.nav-hover:hover {
  text-decoration: underline;
  color: #EAC67A !important;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

main {
  background: #F5F5F5;
}

  body {
    font-family: Roboto, Helvetica, Arial, sans-serif;

  }

  .fb-icon {
   color: #F5F5F5;
  margin: 1rem;
  }

  .insta-icon {
   color:  #F5F5F5;
    margin: 1rem  ;
  }

  .insta-icon:hover {
    color: #EAC67A;
  }
  .fb-icon:hover {
    color: #EAC67A;
  }

  .video-container{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    overflow: hidden;
  }

  iframe {
    border-radius: 50px;
    border: solid #18121E !important;
  }

  .footer {
  margin-top: 1rem;
  padding: 1rem;
  background-color: #233237;
  bottom: 0;
  left: 0;
  width: 100%;
  color: white;
  }

  .card-img {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 4/3;
    border-radius: 20px 20px 0 0 !important;
  }

  .card-body {
    background-color: #984B43;
    border-radius: 0 0 20px 20px !important;
  }

  .card-bg {
   background: #F5F5F5 !important;
   border: none !important;
  }

  .card-bg:hover{
    transition: .2s ease-in-out;
   transform: scale(1.02);
  }
  .card-text{
    color:  #F5F5F5 !important;
  }

.card-text:hover{

  color: #EAC67A !important;
}

.big:hover{
transform: scale(1) !important;
}

ul {
  list-style-type: none !important;
}

.center-list{
  flex-wrap: wrap;
margin-right: 2rem; 
}

.show-text{
 color:#282c34 !important;
}

.show-text:hover{
  font-size: 17px;
  background: #18121E;
  color:#984B43 !important;
}