/*Color Pallet
Nav Links => #3c5258
Logo => #233237
- 
*/
main {
  /* background: #f5f5f5; */
  background: linear-gradient(#f4eddd 75%, #00504a);
}

html,
body {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  height: 100%;
}
.contact-section {
  width: 50%;
}

.booking-container {
  min-height: 100vh !important;
}

.flex-container {
  display: flex !important;
}

.flex-child {
  flex: 1;
}

.flex-child:first-child {
  margin-left: 100px !important;
}

.Matt {
  border-radius: 50% !important;
}

@font-face {
  font-family: "sisteron";
  src: url("./fonts/sisteron/TTF/Sisteron-Regular.ttf");
}

.color-nav {
  color: #f5e6bb !important;
}

.contact-text {
  color: #233237;
}
.contact-text:hover {
  color: #3c5258;
}

.nav-hover {
  color: #3c5258 !important;
  font-family: "Poppins";
  text-transform: uppercase;
  font-size: 16px !important;
  font-weight: 700 !important;
  letter-spacing: 8px;
  margin-left: 1em;
  display: inline-block;
  position: relative;
}

.nav-hover:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  border-radius: 300px;
  height: 0.1em;
  bottom: 0;
  left: 0;
  background: currentcolor;
  transform-origin: center;
  transition: transform 0.25s ease-out;
}

.nav-hover:hover::after {
  transform: scaleX(1);
  transform-origin: right left;
}

.nav-hover:hover {
  color: #233237 !important;
}

.nav-logo {
  font-weight: 900 !important;
  font-family: "sisteron";
  font-size: 24px !important;
  letter-spacing: 0.2em;
  color: #233237 !important;
  display: flex;
}

.nav-logo:hover {
  color: #3c5258 !important;
}
.booking-banner {
  font-family: highgate, sans-serif;
  font-weight: 700;
  font-style: italic;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.booking-btn {
  background-color: #00504b !important;
  color: white !important;
  border: none !important;
  transition: background-color 0.5s !important;
  text-transform: uppercase;
}

.booking-btn:hover {
  background-color: #207a73 !important;
}

.booking-btn:active {
  opacity: 90%;
}

h1,
h2,
h3 {
  color: #233237;
}
.btn-reduce {
  border: none !important;
  background-color: #984b43 !important;
  margin-top: 2rem;
  width: 35%;
}

.booking-cards {
  margin-top: 3em !important;
}

.book-btn {
  text-decoration: none !important;
  color: #233237 !important;
  font-family: "Poppins";
  font-weight: 400 !important;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #f5f5f5;
}

.App-link {
  color: #61dafb;
}

.fb-icon {
  color: #233237;
  margin: 1rem;
}

.insta-icon {
  color: #233237;
  margin: 1rem;
}

.insta-icon:hover {
  color: #3c5258;
}
.fb-icon:hover {
  color: #3c5258;
}

.video-container {
  padding-top: 3em;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

iframe {
  border-radius: 20px;
  border: solid #282c34 !important;
}
.if-spinner {
  background-image: url("/public/images/Spinner2.gif");
  background-repeat: no-repeat;
  background-position: 50% 25%;
}

.footer {
  width: 100%;
  bottom: 0;
  margin-top: 3rem;
  padding: 1rem;
  background-color: #233237;
  width: 100%;
  color: white;
}

.card-bg {
  background: none !important;
  transition: 0.2s ease-in-out;
  cursor: pointer;
  box-shadow: 0 7px 30px -10px rgba(150, 170, 180, 0.5);
  border-radius: 10px !important;
  border: none !important;
}
.card-img {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 4/3;
  border-radius: 10px 10px 0 0 !important;
  border: none !important;
}

.card-body {
  background-color: #984b43;
  border-radius: 0 0 10px 10px !important;
  border: none !important;
}

.card-bg:hover {
  transform: scale(1.05) !important;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
    rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
    rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
  border-radius: 10px !important;
  border: none !important;
}

.card-titles {
  font-family: highgate, sans-serif;
  font-weight: 400;
  color: white;
}

ul {
  list-style-type: none !important;
}

.upcoming-shows {
  margin-top: 4em !important;
}
.shows-banner {
  font-family: highgate, sans-serif;
  font-weight: 700;
  font-style: italic;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
.center-list {
  flex-wrap: wrap;
  margin-right: 2rem;
  text-decoration: none;
  display: inline-block;
  position: relative;
}

.show-text {
  color: #556c72 !important;
  font-size: 18px !important;
}
.center-list:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  border-radius: 300px;
  height: 0.1em;
  bottom: 0;
  left: 0;
  background: currentcolor;
  transform-origin: center;
  transition: transform 0.25s ease-out;
}

.center-list:hover::after {
  transform: scaleX(1);
  transform-origin: right left;
}

.center-list:hover {
  color: #233237 !important;
}

.contact-form {
  border: none !important;
}
