html {
  height: 100% !important;
}

@font-face {
  font-family: "sisteron";
  src: url("./fonts/sisteron/TTF/Sisteron-Regular.ttf");
}

.color-nav {
  background-color: #233237;
}

.nav-hover {
  color: #fefcf2 !important;
  font-family: "Poppins";
  text-transform: uppercase;
  font-size: 16px !important;
  font-weight: 700 !important;
  letter-spacing: 8px;
  margin-left: 1em;
  text-decoration: underline 0.15em rgba(0, 0, 0, 0) !important;
  transition: ease-out text-decoration-color 800ms !important;
}

.nav-hover:hover {
  color: #f4eddd !important;
  text-decoration-color: rgba(244, 237, 221, 1) !important;
}

.nav-logo {
  font-weight: 900 !important;
  font-family: "sisteron";
  font-size: 24px !important;
  letter-spacing: 0.2em;
  color: #f4eddd !important;
}

.booking-banner {
  font-family: "sisteron", sans-serif;
  font-style: italic;
  text-decoration: underline;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

h1,
h2,
h3 {
  color: #233237;
}

.booking-cards {
  margin-top: 4em !important;
}

.book-btn {
  text-decoration: none !important;
  color: #233237 !important;
  font-family: "Poppins";
  font-weight: 400 !important;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #f5f5f5;
}

.App-link {
  color: #61dafb;
}

main {
  /* background: #f5f5f5; */
  background: #fefcf2;
}

body {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  min-height: 100% !important;
  background-color: !important;
}

.fb-icon {
  color: #fefcf2;
  margin: 1rem;
}

.insta-icon {
  color: #fefcf2;
  margin: 1rem;
}

.insta-icon:hover {
  color: #f4eddd;
}
.fb-icon:hover {
  color: #f4eddd;
}

.video-container {
  margin-top: 2em;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

iframe {
  border-radius: 20px;
  border: solid #18121e !important;
}
.if-spinner {
  background-image: url("/public/images/Spinner2.gif");
  background-repeat: no-repeat;
  background-position: 50% 25%;
}

.footer {
  width: 100%;
  bottom: 0;
  margin-top: 3rem;
  padding: 1rem;
  background-color: #233237;
  width: 100%;
  color: white;
}
.card-bg {
  background: none !important;
  transition: 0.2s ease-in-out;
  cursor: pointer;
  box-shadow: 0 7px 30px -10px rgba(150, 170, 180, 0.5);
  border-radius: 10px !important;
  border: none !important;
}
.card-img {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 4/3;
  border-radius: 10px 10px 0 0 !important;
  border: none !important;
}

.card-body {
  background-color: #984b43;
  border-radius: 0 0 10px 10px !important;
  border: none !important;
}

.card-bg:hover {
  transform: scale(1.05);
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
    rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
    rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
  border-radius: 10px !important;
  border: none !important;
}
.card-text {
  color: #f5f5f5 !important;
  font-weight: 400 !important;
  text-transform: uppercase;
  font-family: "Poppins" !important;
}

.card-text:hover {
  color: #f4eddd !important;
}

ul {
  list-style-type: none !important;
}

.upcoming-shows {
  margin-top: 4em !important;
  font-style: italic;
  text-decoration: underline;
}
.shows-banner {
  font-family: "sisteron", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
.center-list {
  flex-wrap: wrap;
  margin-right: 2rem;
}

.center-list:hover {
  border-top: solid black;
  border-bottom: solid black;
  border-color: #eac67a;
}

.show-text {
  color: #7b869c !important;
}

.show-text:hover {
  background: #18121e;
  color: #233237 !important;
}
